.menuItem {
  display: flex;
  align-items: center;
}

.todo__sectionstrip {
  background-color: red;
  display: flex;
  width: 10px;
  height: 20px;
}

.todo__menutext {
  display: flex;
  margin: 0;
}

.todo__subtext {
  color: #999;
}

.todo-completed {
  p, .todo-subtext {
    color: $light-color;
    text-decoration: line-through;
  }
}

.error {
  border: 1px solid #e58080;
  color: red;
}
